<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00498e;">
    <div class="container">
        <ul class="mr-auto">
            <li><a href="/" style="color: #fff;">Home</a></li>
            <li><a href="/courses" style="color: #fff;">Courses</a></li>
            <li><a href="/students" style="color: #fff;">Students</a></li>
            <li><a href="/staff" style="color: #fff;">Staff</a></li>
        </ul>

        <ul class="ml-auto">
            <li><a href="/signup" style="color: #fff;">Sign Up</a></li>
            <li><a href="/login" style="color: #fff;">Login</a></li>
            
        </ul>
    </div>
</nav>
