<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your College Course Management System</title>
    <link rel="stylesheet" href="/public/styles.css">
    
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-courses">Add Courses</a></li>
            <li><a href="/courses">View Courses</a></li>
            
        </ul>
    </nav>

    <div>
        <h1>Welcome to Your College Course Management System!</h1>
        
    </div>

    

</body>
</html>
