/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #002f5b;
    color: #fff;
    margin: 20px;
    padding: 20px;
}

h1, h2, h3 {
    color: #ffd700;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: #ffffff;
}

/* Navigation Styles */
nav {
    background-color: #00498e;
    color: #6e6e6e;
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a.btn {
    background-color: #ffd700;
    color: #002f5b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav a.btn:hover {
    background-color: #ffc107;
}

/* Card Styles */
.card, .testimonial-card, .custom-card {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.card {
    background-color: #0072c6;
    color: #4982d8;
    border: 1px solid #002f5b;
}

.custom-card {
    border: 1px solid #00498e;
}

.testimonial-card {
    background-color: #00498e;
    color: #fff;
    border: 1px solid #002f5b;
}

.testimonial-card img {
    max-width: 100px;
    border-radius: 50%;
}

/* Main Container Styles */
.main-container {
    padding-top: 70px;
    text-align: center;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #002f5b;
    color: #fff;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #ffd700;
    color: #002f5b;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #bd2130;
}

/* Form Styles */
.form-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: #002f5b;
}

.form-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #002f5b;
}

.form-group {
    margin-bottom: 16px;
}

.form-btn {
    background-color: #ffd700;
    color: #002f5b;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-btn:hover {
    background-color: #ffc107;
}

/* Schedule List Styles */
ul.schedule-list {
    list-style: none;
    padding: 0;
}

.schedule-item {
    background-color: #0072c6;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.schedule-item button:hover {
    background-color: #bd2130;
}

/* Available Courses List Styles */
ul.available-courses-list {
    list-style: none;
    padding: 0;
}

.available-courses-item {
    background-color: #00498e;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.available-courses-item button {
    background-color: #ffd700;
    color: #002f5b;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.available-courses-item button:hover {
    background-color: #ffc107;
}

/* Staff Dashboard Styles */
.staff-dashboard {
    text-align: center; /* Center align the content */
    padding: 20px; /* Add padding for better spacing */
}

.staff-dashboard h1 {
    color: #ffffff; /* Adjust the heading color */
    margin-bottom: 20px; /* Add space below the heading */
}

.custom-card {
    border: 1px solid #ddd; /* Add a border for separation */
    border-radius: 10px; /* Add rounded corners */
    margin-bottom: 20px; /* Add space between cards */
    padding: 20px; /* Add padding inside the card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.custom-card h5 {
    color: #fafafa; /* Adjust the card title color */
    font-size:larger; 
}

.custom-card p {
    color: #ffffff; /* Adjust the paragraph text color */
    margin-bottom: 10px; /* Add space between paragraphs */
}

/* Success Button Styles */
.btn-success {
    background-color: #28a745; /* Change the background color for success button */
    color: #fff; /* Change the text color for success button */
}

.btn-success:hover {
    background-color: #218838; /* Change the background color on hover for success button */
}

/* Danger Button Styles */
.btn-danger {
    background-color: #dc3545; /* Change the background color for danger button */
    color: #fff; /* Change the text color for danger button */
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-danger:hover {
    background-color: #c82333; /* Change the background color on hover for danger button */
}

.form-btn {
    background-color: #ffd700;
    color: #002f5b;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-btn:hover {
    background-color: #ffc107;
}

.course-card {
    background-color: #0072c6;
    color: #002f5b;
    border: 1px solid #c8ced3;
}

.course-card h5 {
    color: #ffffff;
    text-decoration: none;
}

.course-card-link {
    text-decoration: none;
}

.course-card-link:hover {
    text-decoration: none;
}


.course-card-title {
    color: #fff; /* White text color */
    font-size: 24px; /* Adjust the font size as needed */
}

.course-card-link {
    text-decoration: none;
}

.course-card-link:hover {
    text-decoration: none;
}

.course-details {
    border: 1px solid #ddd; /* Add a border for separation */
    border-radius: 10px; /* Add rounded corners */
    margin-top: 20px; /* Add some space at the top */
    padding: 20px; /* Add padding inside the card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.course-details h1 {
    color: #ffffff; /* Adjust the heading text color */
}

.course-details p {
    color: #ffffff; /* Adjust the paragraph text color */
    margin-bottom: 10px; /* Add some space between paragraphs */
}

/* Course Creation Page Styles */
.course-creation-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

.course-creation-container h1 {
    color: #002f5b;
}

.course-creation-container form {
    margin-top: 20px;
}

.course-creation-container .form-label {
    color: #002f5b;
    margin-top: 20px;
}

.course-creation-container .form-control {
    color: #002f5b;
}

.course-creation-container .btn-primary {
    background-color: #ffd700;
    color: #002f5b;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.course-creation-container .btn-primary:hover {
    background-color: #ffc107;
}


/* Style the right-side list */
.ml-auto {
    list-style: none;
    display: flex;
    align-items: center; /* Vertically center the items */
}

.ml-auto li {
    margin-left: 15px; /* Adjust the spacing between items as needed */
}

/* Optionally, you can add hover effects */
.ml-auto a:hover {
    text-decoration: underline;
}
